font-family: 'PT Sans', sans-serif;*/
/*common start*/
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}
/*common end*/
/*header start*/
header{
	padding: 20px 0;
	background-color: #fcdb00;
}
.logo{}
.menu{

}
.menu ul li a{
	font-size:22px;
	font-weight:700;
	color: #010101 !important;
	padding:0 42px !important;
}
.menu ul li a:hover{
	color: white !important;
}
.menu ul li:last-child a{
	padding-right: 0 !important;
}

/*header end*/
/*slider start*/
.slider{
	padding-bottom: 100px;
	background-color: #fcdb00;
}
.cid {
    
    bottom: -80px;
}
.cid [data-bs-target] {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background-color: #fff;*/
    /*opacity: 0.5;*/
}
.cid .active {
    opacity: 1;
}
.s_content{
	margin-top: 70px;
}
.s_content h1{
	margin: 0
	font-size: 32px;
	font-weight: 700;
}
.s_content h2{
	margin: 20px 0 25px;
	font-size: 20px;
	font-weight: 400;
	color: #313841;
	letter-spacing: 2px;
}
.s_content p{
	margin: 0 0 30px;
	color: #555555;
	letter-spacing: 1px;
}
.s_icon{}
.s_icon li i{
	margin-right: 30px;
	font-size: 42px;
}
.s_img{}
.s_img img{}
/*slider end*/
/*feature start*/
.feature{
	padding-top: 100px;
	padding-bottom: 120px;
}
.f_title{
	
}
.f_h1{
	margin: 0 0 15px;
	font-weight: 700;
	font-size: 32px;
}
.f_p{
	margin: 0;
	font-size: 20px;
	color: #313841;
	letter-spacing: 1px;
	line-height: 25px;
}
.f_single{
	margin-top: 70px;
}
.f_icon{}
.f_icon i{
	font-size: 50px;
}
.f_content{

}
.fc_h2{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
}
.fc_p{
	color: #898989;
	letter-spacing: 1px;
	line-height: 22px;
}
/*feature end*/
/*contact start*/
.contact{
	padding-top: 100px;
	/*padding-bottom: 120px;*/
  background-color: #010101;
}
.c_h1{
	color: #fcdb00;
}
.c_p{
	color: #898989;
}
.f_form{
	padding-top:40px;
	padding-bottom: 80px;
}
.f_email{
	width: 100%;
	height: 50px;
	font-family:'PT Sans', sans-serif; 
	font-size:16px;
	font-weight: 400;
	color:#898989 !important; 
	border:none;
}
.f_email:focus{
   outline:0;
   box-shadow:none;
}
.btn{}
.f-submit{
	width: 100%;
	height: 50px;
	background-color: #fcdb00;
	font-family:'PT Sans', sans-serif; 
	font-size: 16px;
	font-weight:700;
	color: #010101!important;
	text-transform: uppercase;
}
.f-submit:focus{
	outline: 0;
	box-shadow: none;
}
.f-submit:hover{
	background-color:white;
}
/*contact end*/
/*icon*/
.social{
	background-color: #010101;
	padding-bottom: 100px;
}
.f-icon{
	padding-right: 14px !important;
	font-size: 42px;
	color: #fcdb00;
	transition: .5s;
}
.f-icon:hover{
  color: white;
}
/*icon*/
/*footer start*/
footer{
	padding-bottom: 120px;
  background-color: #010101;
}
.f-1{
  color:white;
}
.f-1 address{
	margin:0;
}
.ad-p{
	margin: 0;
}
.f-p{
	margin: 0;
}
.f-p a{
	color: white;
	text-decoration: none;
}
.f-p a:hover{
	background-color: black;
	color: #fcdb00;
}
/*footer end